body, html{
    height: 100%;
    margin: 0;
}
#bg{
    background-image: url("../img/redBrickWall.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#backArrow{
    width: 5vw;
    position: absolute;
    left: 2%;
    top: 2%;
    transition: 0.3s;
}
#backArrow:hover{
    transform:scale(0.9);
}
#shelfContainer{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
}

#shelf{
    background-image: url("../img/shelf.png");
    height: 10%;
    margin-top: 15%;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sign{
    max-width: 100%;
    height: 20vw;
    margin-top: -95%;
    margin-left: 12%;
}

.bootsForEach{
    max-width: 100%; 
    height: 10vw;
    margin-left: 25%;
    margin-top: -50%;
    cursor: pointer;
    transition: 0.3s;
}
.bootsForEach:hover{
    transform: scale(1.2);
}
#boots1{
    height: 8vw;
    margin-left: 29%;
}
#boots2{
height: 10vw;
margin-top: -35%;
margin-left: 30%;
}
#boots3{
    height: 8vw;
    margin-left: 30%;
    margin-bottom: 2%;
}
#boots4{
    margin-top: -30%;
    margin-left: 30%;
}
#boots5{
    height: 5.5vw;
    margin-bottom: 8%;
    margin-left: 30%;
}
#boots6{
    height: 7vw;
    margin-bottom: 5%;
}
#goals{
    position: absolute;
    color: #26262a;
    font-size: 2.5vw;
    text-align: center;
    font-family: "verdana";
    font-weight: bold;
    text-shadow:
       0.2vw 0.2vw 0 #c9c9d3,
     -0.08vw -0.08vw 0 #c9c9d3,  
     0.08vw 0.08vw 0 #c9c9d3,
      -0.08vw -0.08vw 0 #c9c9d3,
      0.08vw 0.08vw 0 #c9c9d3;
}