body, html{
    height: 100%;
    margin: 0;
}
#bg{
    background-image: url("/img/playersBackground.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#flexContainer{
    width: 80%;
    height: 50%;
    background-color: brown;
    display: flex;
    align-items: flex-end;
}
.playerDiv{
    height: 100%;
    flex-grow: 1;
}
#playderDiv1{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playderDiv2{
    background-color: green;
    display: flex;
}
#playderDiv3{
    background-color: yellow;
    display: flex;
}
#playderDiv4{
    background-color: red;
    display: flex;
}
.player{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#player1{  
    cursor: pointer;
    background-image: url("/img/Fandic.png");
    transition: .3s;
}
#player1:hover{
    transform: scale(1.1);
}
#player2{  
    cursor: pointer;
    background-image: url("/img/honzaKotakto.png");
    transition: .3s;
}
#player2:hover{
    transform: scale(1.1);
}
#player3{  
    cursor: pointer;
    background-image: url("/img/majklJira.png");
    transition: .3s;
}
#player3:hover{
    transform: scale(1.1);
}
#player4{  
    cursor: pointer;
    background-image: url("/img/Vojtacek.png");
    transition: .3s;
}
#player4:hover{
    transform: scale(1.1);
}
#backArrow{
    width: 5vw;
    position: absolute; 
    top: 2%;
    transition: 0.3s;
    user-select: none;
     left: 2%;
}
#backArrow:hover{
    transform:scale(0.9);
}
#goals{
    position: absolute;
    top: 10%;
    color: #26262a;
    font-size: 2.5vw;
    text-align: center;
    font-family: "verdana";
    font-weight: bold;
    text-shadow:
       0.2vw 0.2vw 0 #c9c9d3,
     -0.08vw -0.08vw 0 #c9c9d3,  
     0.08vw 0.08vw 0 #c9c9d3,
      -0.08vw -0.08vw 0 #c9c9d3,
      0.08vw 0.08vw 0 #c9c9d3;
}