body, html{
    height: 100%;
    margin: 0;
    font-family: "verdana";
}
body p{
    user-select: none;
}
#bg{
    background-image: url("../img/background.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    max-width: 100%;
}
#counter1, #counter2, #colon{
    color: #7e7ccf;
    font-size: 2vw;
    font-family: "verdana";
    font-weight: bold;
    flex: 2;
    text-align: center;
}
#colon{
    flex: 1;
}
#box{
    border: .3vw solid black;
    max-width: 15%;
    padding: .5vw 4vw;
    display: flex;
    gap: 3vw;
    background-color: rgb(244, 239, 239);
    margin: 0 auto;
    margin-top: -13%;
    border-radius: 1.5vw;
}
#container{
    max-width: 100%;
    max-height: 100%;
}
#p1, #p2{
    color: #323152;
    font-size: 2.5vw;
    flex: 1;
    max-width: 15%;
    text-align: center;
    /* position: absolute; */
    font-family: "verdana";
    font-weight: bold;
    text-shadow:
       0.2vw 0.2vw 0 #6463a5,
     -0.08vw -0.08vw 0 #6463a5,  
     0.08vw 0.08vw 0 #6463a5,
      -0.08vw -0.08vw 0 #6463a5,
      0.08vw 0.08vw 0 #6463a5;
}
#pContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
    
}

#backArrow{
    width: 5vw;
    /* position: absolute; */
    /* left: 2%;
    top: 2%; */
    transition: 0.3s;
    user-select: none;
}
#backArrow:hover{
    transform:scale(0.9);
}
#cookieContainer{
    width: 18%;
    height: 18%;
    margin: 0 auto;
}
#cookie{
    width: 100%;
    height: 100%;
    background-image: url("../img/football.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 60%;
    /* position: absolute; */
    /* left: 43.5%; */
    /* top: 75%; */
    cursor: pointer;
    transition: 0.3s;
}
#cookie:hover{
    transform: scale(0.9);
}
#tableContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -30%;
}
#table{
    /* background-color: aqua; */
    box-sizing: border-box;
    width: 10%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    border: solid black .33vw;
}
#tableText{
    background-color: rgb(136, 126, 126);
    flex: 3;
    border-bottom: solid black .33vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    user-select: none;
}
#tableText:hover{
    background-color: rgb(119, 184, 240);
}
#tableText p{
    font-weight: bold;
    font-size: .9vw;
}
#table1Container{
    background-color: rgb(136, 126, 126);
    flex: 7;
    border-bottom: solid black .165vw;
    transition: .3s;
    user-select: none;
}
#table1Container:hover{
    background-color: rgb(62, 138, 204);
}
#table1Img{
    width: 100%;
    height: 100%;
    background-image: url('../img/foot.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#table2Container{
    background-color: rgb(136, 126, 126);
    flex: 7;
    border-top: solid black .165vw;
    transition: .3s;
    user-select: none;
}
#table2Container:hover{
    background-color: rgb(28, 88, 140);
}
#table2Img{
    width: 100%;
    height: 100%;
    background-image: url('../img/football.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}